<!DOCTYPE html>
<html>

	<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Terje Urnes">
	{{metaDescription}}
    {{metaRobots}}
    {{{publiiHead}}}

    <link rel="stylesheet" href="{{css "style.css" }}">

	<style>
        body {
            background-image: url("{{@config.custom.backgroundPicture}}");
            opacity: {{@config.custom.backgroundPictureOpacity}};
        }
    </style>
	
	
	<!-- Title for the page -->
	{{#if title}}
		<title>{{title}}</title>		{{else}}
		<title>{{@website.name}}</title>
	{{/if}}
	
	</head>
	
	<body>

        {{#is 'index'}}

        <h1>{{title}}</h1>

        {{/is}}

<main>