<!DOCTYPE html>
<html>

	<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Terje Urnes">
	{{metaDescription}}
    {{metaRobots}}
    {{{publiiHead}}}

		

	<link rel="preconnect" href="https://www.google.com">
	<link rel="preconnect" href="https://www.gstatic.com" crossorigin>
	<link rel="stylesheet" href="{{css 'style.css' }}">
	<script async defer src="https://www.google.com/recaptcha/api.js"></script>
	<script src="{{js 'contact-form.js'}}"></script>
	
	
	
	<!-- Title for the page -->
	{{#if title}}
		<title>{{title}}</title>
		{{else}}
		<title>{{@website.name}}</title>
	{{/if}}
	
	</head>
	
	<body>

<main>